<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Questions</title>
</head>
<body>
    <ul class="list">
        {% for q in questions %}
            <li>
                <a href="{{ q.get_url }}">{{ q }}</a>
            </li>
        {% endfor %}
    </ul>
    <nav><ul class="pagination">
        {% for p in paginator.page_range %}
            {% if p == page.number %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
                <a href="{{ paginator.baseurl }}?page={{ p }}">
                {{ p }}</a>
            </li>
        {% endfor %}
    </ul></nav>
</body>
</html>